.Header{
    &_first-row{
        &_second-column{
            &_Ul{
                &--list-unstyled {
                    list-style: none;
                }
                &_li {
                    &_anchor {
                        border-bottom-width: 4px;
                        border-bottom-style: solid;
                        border-bottom-color: transparent;
                        padding-bottom: 8px;
                        &--active {
                            border-bottom-color: white;
                        }
                    }
                    &--hover {
                        text-decoration: none;
                        border-bottom-color: grey !important;
                    }
                }
            }
        }
    }
    &_second-row {
        background-color: green;
    }
}